body {
    background-color: #191919;
    color: lightgray;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
      "Roboto", "Helvetica Neue", Arial, sans-serif;
    font-size: 1.1rem;
    box-sizing: border-box;
}
.fa-solid, .fa-brands {
    color: white;
}

body::-webkit-scrollbar{
    display: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
}

i {
    font-size: 30px;    
}

li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

.main-header {
    text-align: center;
    padding-bottom: -5px;
}

.sub-header {
    text-align:center;
    color: gray;
}

.languages {
    margin-left: 15%;
    padding-bottom: 3%;
}

.languages-header, #projects-header {
    text-align: center;
    padding-top: 125px;
}

.card-body {
    margin: 20px;
    border: 3px solid;
    border-radius: 10px;
    background-color: transparent;
}

.dark-light-toggle {
    position: relative;
    float: right;
    scale: 0.66;
    width: 100px;
    height: 56px;
    padding: 5px;
    border-radius: 45px;
    border: 3px solid rgb(58, 50, 50);
    background-color: #191919;
    overflow: hidden;
    transition: all .5s cubic-bezier(0.6, -0.28, 0.735, 0.045);     
}

.dark-light-toggle input {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

.light-mode{
    background-color: white;
    color: black;
}

.circle {
    border-radius: 50%;
    display: inline-block;
    position: absolute;
}

.small {
    width: 30px;
    height: 30px;
    background: #191919;
    left: 20px;
    top: 3px;
    transition: all .5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.large {
    width: 40px;
    height: 40px;
    background: #fff;
    border: 3px solid #fff;
    top: 50%;
    transform: translateY(-50%);
    left: 7px;
    transition: all .5s cubic-bezier(0.78, -0.3, 0.735, 0.045);
}

.move {
    background-color: #fff;
    border-color: darkorange;
}

.move .large {
    left: 50px;
    background: yellow;
    border-color: lightcoral;
}

.move .small {
    left: 60px;
    top: 50px;
    background-color: #fff;
}
