body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9;
    color: #333;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 32px;
    margin: 0;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.contact-links a {
    margin: 0 10px;
    transition: color 0.3s;
}

.contact-links a:hover {
    color: #0056b3;
}

.company-logo, .project-logo {
    height: 50px;
    padding: 10px;
    vertical-align: middle;
}

.experience-item, .experience-dates {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

.experience-dates {
    font-size: 14px;
    color: #666;
    font-style: italic;
}

.hidden {
    display: none !important;
}

.back-link {
    display: block;
    text-align: center;
    padding: 10px;
    margin: 20px 0;
    font-size: 18px;
    color: #007bff;
}

.resume-content {
    text-align: center;
    margin: 20px 0;
}

.resume-content img {
    width: 100%;
    max-width: 1000px;
    height: auto;
}

.experience-item img {
    width: 50px;
    height: 50px;
}

ul li p {
    margin: 5px 0;
}
