body {
    background-color: #191919;
    color: lightgray;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
      "Roboto", "Helvetica Neue", Arial, sans-serif;
    font-size: 1.1rem;
    box-sizing: border-box;
}

i { font-size: 30px; }

i[class^='devicon'], i[class*='devicon'] {
    width: 100px;
    height: 100px;
    margin: 0% 3vh 2.5vh 0%;
}

  
a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.fa-solid, .fa-brands { color: white; }
body::-webkit-scrollbar { display: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
.main-header, .project-header { text-align: center; padding-top: 35px; }
.project-subheader { font-size: 24px; }

.sub-header, .project-subheader {
    text-align:center;
    color: gray;
}

.aboutme-header, .project-header, .skills-header, #projects-header {
    padding-bottom: 5px;
    text-align: center;
}

.languages-header, .frameworks-header, .dbh-header, .tools-header {
    padding: 10px 0px 5px 0px;
    font-size: 1.5em;
    text-align: center;
    text-decoration: underline red;
}

.title, .skills-container, .aboutme-text, .project-text,
#projects-container, #doc-container { padding-bottom: 125px; }

.aboutme-container, .project-container { 
    justify-content: center; 
    padding: 0vw 10vw 0vw 10vw;
}

.project-p {
    margin-bottom: 0px;
    color: lightgray;
    font-weight: bold;
    text-decoration: underline;
}

.project-text {
    font-size: 1.125em;    
    float: left;
}

.project-bullets {
    list-style-type: circle;
}

.seemore {
    color: blue;
}

.aboutme-text {
    font-size: 1.125em;    
    color: gray;
    text-align: left;
}


.skills-container {
    padding-left: 3%;
    padding-right: 3%;
}

.languages, .frameworks, .dbh, .tools {
    padding-right: 10px;
    justify-content: center;
}

.col-8 {
    border: 3px solid rgb(58, 50, 50);
    border-radius: 8px;
}

.col-lg.test {
    border-radius: 8px;
    margin: 0px 50px 50px 50px;
}

.container {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.row { justify-content: center; }

.progress {
    width: 30vw;
    height: 3em;
    border: rgba(255, 255, 255, 0.125);
    -webkit-transition: none !important;
    transition: none !important;
}

.bar {
    width: 0%;
    text-align: center;
    line-height: 3em;
    transition-property: width;
    transition-timing-function: linear;
}  

.green { background-color: rgb(14, 88, 14); }
.yellow { background-color: rgb(255, 208, 0); color: black; }
.red { background-color: rgb(206, 40, 40); }


button { margin-top: 1em; }
.col-8 { padding: 10px; margin-top: 20px; }
.col-lg { padding-bottom: 50px; }

.card-deck {    
    display: inline-block;
    margin: 0% 0% 5% 0%;
    justify-content: center;
}

.card, .card-footer {
    border-radius: 8px;
    background-color: transparent;
}

.dark-light-toggle {
    position: fixed;
    bottom: 0;
    right: 0;
    scale: 0.66;
    width: 100px;
    height: 56px;
    padding: 5px;
    z-index: 2;
    border-radius: 45px;
    border: 3px solid rgb(58, 50, 50);
    background-color: #191919;
    overflow: hidden;
    transition: all .5s cubic-bezier(0.6, -0.28, 0.735, 0.045);     
}

.dark-light-toggle input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
}

.light-mode {
    background-color: white;
    color: black;
}

.light-mode:not(li, a, i, footer, .card-body) { border: 3px solid rgba(0, 0, 0, 0.5); }
.light-mode .green, .red { color: white; }
.light-mode .col-8, .col-lg.test, .card { border: 3px solid rgb(58, 50, 50); }
.light-mode:-webkit-any(footer) { border-top: 1px solid rgba(0, 0, 0, 1); }
.light-mode .project-p { color: darkslategray}

.circle {
    border-radius: 50%;
    display: inline-block;
    position: absolute;
}

.small {
    width: 30%;
    height: 60%;
    background: #191919;
    left: 20%;
    top: 3%;
    transition: all .5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.large {
    width: 40%;
    height: 70%;
    background: #fff;
    border: 3px solid #fff;
    top: 50%;
    transform: translateY(-50%);
    left: 7%;
    transition: all .5s cubic-bezier(0.78, -0.3, 0.735, 0.045);
}

.move {
    background-color: #fff;
    border-color: darkorange;
}

.move .large {
    left: 50%;
    background: yellow;
    border-color: lightcoral;
}

.move .small {
    left: 60%;
    top: 100%;
    background-color: #fff;
}

footer {
    z-index: 1;
    text-align: left;
    width: 100%;
    padding: 0.65% 0% 0.65% 1.25%;
    font-size: 1.33em;
    border-top: 1px solid rgba(255, 255, 255, 0.125);
    vertical-align: middle;
}

.img {
    width: 66%;
    height: 50%;
    justify-content: center;
}
